<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}


	{{ $styles := resources.Get "css/main.css" | postCSS }}

	{{ if .Site.IsServer }}
	  	<link rel="stylesheet" href="{{ $styles.Permalink }}"/>
	{{ else }}
	{{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
		<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}"/>
	{{ end }}
	 
	<!-- script defer src="https://unpkg.com/alpinejs@3.1.0/dist/cdn.min.js"></script //-->

</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
	{{ partial "footer" . }}
</body>
</html>
