{{ define "main" }}
<div class="container mx-auto bg-white">
<div class="flex h-full">
	<aside class="flex-none h-screen sticky top-0 p-6 hidden sm:hidden md:hidden lg:block xl:block">
		<div class="prose">
		<a href="{{ .Site.BaseURL }}">{{ .Site.Params.Navigation.Content}}</a>
		
		{{ .TableOfContents }}
		</div>
	</aside>
	<article class="flex-1">
		<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl p-12 pt-6 max-w-none">
		<h1>{{ .Title }}</h1>
		<div>
			{{ .Content }} 
		</div>
	</div>
	</article>
</div>
</div>	

{{ end }}
